{% extends "layout.html" %}

{% block content %}
<style>
    .login-container {
        width: 500px;
        color:black;
        margin: 50px auto;
        padding: 30px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5em;

    }
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.1em;
        
    }
    .login-container input {
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
        margin: 8px 0;
        color:black;
    }
    .login-container input:focus {
        background-color: #e6f7ff   ;
        border-color: #007bff;
        outline: none;
    }
    .login-container button {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        margin-top: 15px;
    }
    .login-container p {
        text-align: center;
        margin-top: 15px;
    }
</style>

<div class="login-container">
    <h2>Login Form</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don’t have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}
